*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
html , body{
    width: 100%;
    height: 100%;
}
.loader{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    z-index: 999;
    transition: all linear 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader h1{
    position: absolute;
    color: transparent;
    background: linear-gradient(to right ,orange,rgb(173, 46, 0) );
    font-size: 10vw;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    -webkit-background-clip: text;
}
.loader h1:nth-child(2){
    animation-delay: 2s;
}
.loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#main{
    z-index: 11;
    position: relative;
}
#page1{
    z-index: 15;
    /* min-height: 100vh; */
    /* width: 100%; */
    padding: 1px 25px;
    background-color: #EFEAE3;
    /* background-color: rgb(254, 249, 232); */
}
nav{
    position: relative;
    z-index: 50;
    height: 100px;
    /* width: 100%; */
    padding-block: 1vw ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vw;
}
#nav2{
    display: flex;
    gap: 1vw;
    align-items: center;
}
#nav2 h4{
    border: 1px solid  rgba(64, 64, 64, 0.578);
    border-radius: 50px;
   padding: 13px 20px;
   font-weight: 600;
   position: relative;
   /* background-color: aqua; */
   overflow: hidden;
   color: black;
}

#nav2 h4 a{
    text-decoration: none;
    color: black ;
    position: relative;
    z-index: 9;
    
}
#nav2 h4::after{
    position: absolute;
    content: "";
    left: 0px;
    height: 100%;
    width: 100%;
    bottom: -100%;
    border-radius: 50%;
    background-color: black;
    color: aliceblue;
    transition: all ease 0.3s;
}

#nav2 h4:hover a{
    color: white;
}
#nav2 h4:hover::after{
    bottom: 0px;
    border-radius: 0px;
    
}
.neu{
    display: none;
}

.center{
    height: 65vh;
    /* width: 100%; */
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid black;
    padding-bottom: 3vw;
    justify-content: space-between;
}
.left{
    padding-left: 15px;
}
.left h3{
    font-size: 2.2vw;
    font-weight: bolder;
    line-height: 2.4vw;
    letter-spacing: -2px;
}
.right{
    font-size: larger;
    text-align: right;
    padding-right: 10px;
}
.center h1{
    font-size: 10vw;
    text-align: end;
    font-weight: 600;
    line-height: 8vw;
    letter-spacing: -11px;
}


/* .pook{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top : -100%; 
    z-index: 100;
    /* pointer-events: none; */
    /* background-color: rgba(0, 0, 0, 0.329); */
    
/* }   */

 



@media only screen and (max-width:325px){
 #page1{
    z-index: 10;
    /* min-height:100vh; */
    /* width: 100%; */
    padding: 0;
    /* padding: 0 10px; */
    /* padding: 1px 25px; */
    background-color: #EFEAE3;
    /* background-color: rgb(254, 249, 232); */
}
nav{
     /* position: relative; */
    z-index: 50;
    height: 100px;
    width: 100%;
    padding-block: 0px;
    /* padding-block: 1vw ; */
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    padding-left: 13px;
    scale: 1;
} 
#nav2{
    display: none;
}
.neu{
    display: block;
    padding-right: 20px;
    
}
.neu h4{
    border: 1px solid  rgba(141, 141, 141, 0.445);
    border-radius: 30px;
    padding-block: 10px;
    padding-left: 30px;
    padding-right: 10px;
    /* padding: 13px 30px; */
    font-weight: 400;
    /* right: 0;? */
    position: relative;
    /* background-color: aqua; */
    overflow: hidden;
    color: black;
}

.neu h4 a{
    text-decoration: none;
    color: black ;
    position: relative;
    z-index: 9;
    
}
.neu h4::after{
    position: absolute;
    content: "";
    left: 0px;
    height: 100%;
    width: 100%;
    bottom: -100%;
    border-radius: 50%;
    background-color: black;
    color: aliceblue;
    transition: all ease 0.3s;
}

.neu h4:hover a{
    color: white;
}
.neu h4:hover::after{
    bottom: 0px;
    border-radius: 0px;
    
}   
/* .pook{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top : -100%; 
    z-index: 100;
    /* pointer-events: none; */
    /* background-color: rgba(0, 0, 0, 0.329); */
    
/* }    */
}
#page1 video{
    position: relative;
    margin-top: 5vh;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    /* z-index: 2; */
}
.shape{
    position: absolute;
    width: 46vw;
    height: 30vw;
    right: 0;
    top: 90vh;
    /* background-color: aqua; */
    /* filter: blur(20px); */
}
.shap1{
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #FE340C;
    
}
.shap2{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background-color:#FE340C;
    border-radius: 50%;
    filter: blur(20px);
}
.shap3{
    position: absolute;
    left: 5%;
    height: 40vw;
    width: 40vw;
    background-color: #FE340C;
    border-radius: 50%;
    filter: blur(20px);
    animation: anime;
    animation-duration: 3s;
    /* /  animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime {
    from{
        transform: translateX(-5%,-5%);
    }
    to{
        transform: translate(10%,-18%);
    }
}

@media only screen and (max-width:325px){
    .center{
        height: 47vh;
        display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid black;
    padding-bottom: 0.5vh;
    justify-content: none;
}
.left{
    /* z-index: 99; */
    padding-left: 0px;
    padding-right: 90px;
    height: 50%;
    text-align: left;
    margin-bottom: 5vh;
    margin-top: 2vh;
}
.left h3{
    font-size: 5.2vw;
    font-weight: 900;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: -1px;
}
.right{
    font-size: larger;
    text-align: right;
    padding-right: 20px;
}
.center h1{
    font-size: 18vw;
    text-align: end;
    font-weight: 700;
    line-height: 10vh;
    letter-spacing: -6px;
}
.shape{
position: absolute;
width: 60vw;
height: 50vw;
right: 0;
top: 59vh;
/* display: none; */
}
.shap1{
position: absolute;
height: 100%;
width: 100%;
filter: blur(20px);
border-top-left-radius: 50%;
border-bottom-left-radius: 50%;
background-color: #fe340c;

}
.shap2{
position: absolute;
height: 50vw;
width: 50vw;
background-color:#fe340c96;
border-radius: 50%;
filter: blur(20px);
}
.shap3{
position: absolute;
left: 5%;
height: 45vw;
width: 45vw;
background-color: #FE340C;
border-radius: 50%;
filter: blur(20px);
animation: anime;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
#page1 video{
    position: relative;
    margin-top: 5vh;
    border-radius: 10px;
    object-fit: cover;
    height: 60vh;
    width: 90%;
    margin: 5vw;
    /* z-index: 2; */
}
}
#page2{
    padding-top: 5vw;
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}
.move{
    overflow-x: auto;
    white-space: nowrap;
}
.move::-webkit-scrollbar{
    display: none;
}
.move h1{
    font-size: 9vw;
    display: inline-block;
}
.gola{
    height: 60px;
    width: 60px;
    margin:1.3vw 1vw;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE340C;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation: loop;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes loop {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-100%);
    }
}
.pg2bot{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #EFEAE3;
}
.bottxt{
    position: relative;
    width: 70vw;
    border: none;
}

.bottxt h1{
    position: absolute;
    z-index: 1;
    padding-top: 6vw;
    padding-left: 6vw;
    font-size: 4vw;
    font-weight: 700;
    line-height: 4vw;
    letter-spacing: -2px;
}
.shk{
    position: relative;
    top: 29vh;
    left: 27vw;
}
.sha{
    position: absolute;
    border-radius: 50% ;
    width: 35vw;
    height: 35vw;
    animation-name: loco;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: blur(25px);
    background-color: #ff7300;
}
@keyframes loco {
    from{
        transform: translate(-9%,9%);
    }
    to{
        transform: translate(7%,-7%);
    }
}


.shp2{
    position: absolute;
    width: 32vw;
    height: 32vw;
    filter: blur(25px);
    background-color: #FE340C;
}


.bot2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 6.5vw;
    width: 20vw;
    position: relative;
}
.bot2 img{
    position: relative;
    top: 5%;
    width: 20vw;
    border-radius: 10px;
}
.bot2 p{
    margin-top: 5vw;
    letter-spacing: -0.5px;
    line-height: 1.4vw;
}

.box{
    height: 500px;
    width: 500px;
    margin: 500px;
    background-color: #FE340C;
}
@media only screen and (max-width:322px){
    #page2{
    padding-top: 5vw;
    width: 100%;
    background-color: #EFEAE3;
    overflow: hidden;
}
.move{
    overflow-x: auto;
    white-space: nowrap;
}
.move::-webkit-scrollbar{
    display: none;
}
.move h1{
    font-size: 10vw;
    font-weight: 700;
    display: inline-block;
}
.gola{
    height: 14px;
    width: 14px;
    margin:1.3vw 1vw;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE340C;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation: loop;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes loop {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-100%);
    }
}
.pg2bot{
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: #EFEAE3;
}
.bottxt{
    position: relative;
    width: 99vw;
    padding-left: 5vw;
    padding-top: 5vw;
    border: none;
}

.bottxt h1{
    position: relative;
    z-index: 1;
    padding-top: 1vw;
    padding-left: 1vw;
    font-size: 6vw;
    font-weight: 900;
    line-height: 5vw;
    letter-spacing: -1px;
}


.bot2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    width: 90vw;
    height: 80vh;
    padding-inline: 0px;
    position: relative;
}
.bot2 img{
    position: relative;
    top: 0;
    width: 79vw;
    height: 30vh;
    border-radius: 10px;
}
.bot2 p{
    margin-top: 3vh;
    letter-spacing: normal;
    font-size: small;
    line-height: 5vw;
    margin-right: 10vw;
}

.box{
    height: 500px;
    width: 500px;
    margin: 500px;
    background-color: #FE340C;
}
.shk{
    position: relative;
    top: 7vh;
    left: 45vw;
}
.sha{
    position: absolute;
    border-radius: 50% ;
    width: 60vw;
    height: 60vw;
    animation-name: loco;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: blur(25px);
    background-color: #ff7300;
}
@keyframes loco {
    from{
        transform: translate(-9%,9%);
    }
    to{
        transform: translate(7%,-7%);
    }
}


.shp2{
    position: absolute;
    width: 55vw;
    height: 55vw;
    filter: blur(25px);
    background-color: #FE340C;
}
.bullet{
    padding-block: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    left: 1vw;
}
}




.normal{
    display: none;
    position: relative;
    min-height: 200vh;
    /* width: 100%; */
}
.nor{
    min-height: 50vh;
    /* width: 100%; */
    padding-inline: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nor img{
    height: 55vh;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}
.nor h1{
    font-size: 9vw;
    letter-spacing: -2px;
    font-weight: 800;
}
.nor p{
    font-size: large;
    padding-top: 10px;

}
.nor a{
    text-decoration: none;
    color: rgba(1, 1, 1, 0.251);
}

@media only screen and (max-width:322px){
    .normal{
        display: block;
    }
}
.page3{
    min-height: auto;
    width: 100%;
    background-color: #EFEAE3;
    /* position: relative; */
}
.bullet{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    padding-block: 5vh;
    /* top: 85vh; */
    /* margin-top: vh; */
    left: 1vw;
}
.bullet img{
    width: 7.5px;
    height: 7px;
}
.bullet li{
    padding-left: 9px;
    list-style: none;
}
.elem{
    position: relative;
    height: 100px;
    width: 100%;
    padding: 0px 2vw;
    /* margin-top: 10vh; */
    /* background-color: #EFEAE3; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    /* border-top: 0.2px solid rgba(0, 0, 0, 0.253); */
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.253);
    
}
.elem h2{
    position: absolute;
    font-size: 3vw;
    font-weight: 800;
    letter-spacing: -2.5px;
}
.hov{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;  
    left: 0;
    background-color: #FF9831;
    transition: 0.2s;
}
.elem:hover .hov{
    top: 0%;
}
.dov{
    position: absolute;
    right: 7%;
    text-align: end;
}
.p{
    color: rgba(0, 0, 0, 0.292);  
}
@media only screen and (max-width:322px){
    .elemc{
        display: none;
    }
}
.btn{
    position: relative;
    /* position: absolute/; */
    margin: 4vw 2.8vw;
    padding: 14px 20px;
    border-radius: 50px;
    display: inline-block;
    overflow: hidden;
    color: black;
    /* z-index: 3; */
    border: 1px solid black;
    
}
.btn::after{
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: black;
    display: inline-block;
    transition: all ease 0.3s;
}
.btn:hover::after{
    bottom: 0;
    border-radius: 0px;
}
.btn a{
    z-index: 1;
    text-decoration: none;
    color: black;
    position: relative;
    letter-spacing: -0.5px;
}
.btn:hover a{
    color:#EFEAE3
}
.fix{
    position: fixed ;
    top: 18%;
    z-index: 99 ;
    border-radius: 20px;
    left: 50%;
    height: 63%;
    width: 25vw;
    display: none;
    background-size: cover;
    background-position: center;
}
.page4{
    min-height: 105vh;
    width: 100%;
    padding-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEAE3;
}

.pannal{
    min-height: 100%;
    width: 95%;
    border-radius: 22px;
    background-color: black;
    display: flex;
    overflow: hidden;
}
.pannal-left{
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EFEAE3;
}
.dets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 90%;
    text-align: left;
}
.design{
    color: white;
}
.head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 72%;
    border-left: 2px solid #504A45;
    margin-bottom: 1.5vw;  
}
.head h1{
    cursor: pointer;
    position: relative;
    color: #504A45;
    left: 8%;
    font-size: 6vw;
}
.para{
    height: 100%;
    width: 72%;
}
.img{
    /* position: static; */
    width: 53%;
}
.img img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
@media only screen and (max-width:320px){
   .page4{
    min-height: 100vh;
    overflow: hidden;
   }
   .pannal{
    height: 100%;
    padding-top: 10%;
    /* border-radius: 50px; */
    flex-direction: column;
   }

   .pannal-left{
    width: 100%;
   }
   .head{
    width: 100%;
    margin-bottom: 6%;
   }
   .para{
    width: 100%;
}
.para p{
    font-size: small;
    margin-bottom: 10%;
   }
   .img{
    width: 100%;
    height: 60vh;
    bottom: 0;
   }
   .img img{
    bottom: 0;
   }
}
.bull{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 64px;
    top: 20%;
    left: 1vw;
}
.bull img{
    width: 7.5px;
    height: 7px;
}
.bull li{
    padding-left: 9px;
    list-style: none;
}
.swiper{
    position: relative; 
    padding-inline: 80px;
    padding-block: 5vw;
    height: 80vh;
    width: 94vw;
    background-color: #EFEAE3;
}
.swiper-wrapper{
    /* top: 1%; */
    display: flex;
    align-items: center;
    position: absolute;
}
.swiper-slide {
    height: 34vh;
    width: 23vw;
      padding-left: 2vw;
      font-size: 18px;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      border-left: 1px solid rgba(128, 128, 128, 0.516);
    }
    .pmj{
       width: 94%;
    }
    @media only screen and (max-width: 330px){
       .swiper{
        padding-inline: 10px;
        padding-block: 5px;
       } 
     .swiper-slide{
        width: 70vw;
        height: 35vh;
     }    
     .pmj{
        width: 120%;
     }
     .bull{
        top: 13%;
        margin-left: 12px;
     }
    }
    .swiper-slide:nth-child(4){
        height: 50vh;
        position: relative;
    }
    .swiper-slide:nth-child(4) img{
           margin-bottom: 1vw;
    }
    .swiper-slide:nth-child(6){
        height: 50vh;
        position: relative;
    }
     .swiper-slide:nth-child(5) .pmj{
           width: 100%;
    }
    .swiper-slide:nth-child(5) img{
        margin-bottom: 0.5vw;
    }
    .swiper-slide:nth-child(6) img{
           margin-bottom: 0.3vw;
    }
    
    .swiper-slide img {
      margin-bottom: 2vw;
      display: block;
      height: 10vh;
      align-items: start;
      object-fit: cover;
    }
    .swiper-slide p{
        font-size: small;
        width: 70%;
    }
.page5{
    position: relative;
    min-height: 105vh;
    width: 100%;   
    /* background-color: aqua; */
}
.footer{
    position: fixed;
    min-height: 100vh;
    width: 100%;
    z-index: 5;
    background-color: black;
    bottom: 0px;  
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer h1{
    z-index: 4;
    font-size: 22vw;
    color: white; 
    justify-content: flex-end;
    top: 40%;
}
.up{
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #FE340C; */
}
.fir{
    z-index: 2;
    /* padding: 6vw 5vw; */
    padding-inline: 5vw;
    padding-top: 7vw;
}
.fir h2{
    /* z-index: 2; */
    font-size: 3vw  ;
    color: #EFEAE3;
}

.sec{
    z-index: 2;
    padding: 6vw 7vw;
    color: #EFEAE3;
}
.sec p{
    z-index: 2;
     font-size: 1.3vw;
     margin-bottom: 2vw;
}
.sec input{
    z-index: 2;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(207, 206, 206) ;
    padding-block: 0.5vw;
    padding-right: 7vw;
    text-align: left;
    font-size: 1.2vw;
    font-weight: 300;
}
.dab{
    position: absolute;
    top: -225%;
    left: -10%;
    height: 90vw;
    width: 45vw;
    filter: blur(50px);
    transform: rotate(80deg);
    background-color: #FE340C;
    animation-name: rot;
    transition: all linear 0.3s;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes rot {
    from{
        transform: rotate(70deg);
    }
    to{
        transform: rotate(80deg);
    }
}
.bad{
    position: absolute;
    top: -250%;
    right: -6%;
    height: 95vw;
    width: 45vw;
    filter: blur(50px);
    transform: rotate(-50deg) ;
    background-color: #FE340C;
    animation-name: mot;
    transition: all linear 0.3s;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes mot {
  from{
      transform: rotate(-50deg)
  }
  to{
        transform: rotate(-60deg) ;
    }
}
.sec input::placeholder{
    color: rgb(210, 210, 210);
}
.fut{
    height: 50px;
    width: 97%;
    color: #EFEAE3;
    bottom: 0px;
    border-top: 1px solid rgb(137, 137, 137);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fut h4{
    font-size: 1vw;
    font-weight: 300;
}

.fat{
    display: none;
}
@media only screen and (max-width:322px){
    .page5{
    position: relative;
    min-height: 80vh;
    width: 99%;   
    /* background-color: aqua; */
}
.footer{
    position: fixed;
    min-height: 70vh;
    width: 99%;
    z-index: 5;
    background-color: black; 
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.footer h1{
    z-index: 4;
    font-size: 22vw;
    color: white; 
    justify-content: flex-end;
    top: 40%;
}
.up{
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: #FE340C; */
}
.fir{
    z-index: 2;
    /* padding: 6vw 5vw; */
    padding-inline: 6vw;
    /* padding-block: 3vw; */
    padding-top: 15vw;
    padding-bottom: 3vw;
}
.fir h2{
    /* z-index: 2; */
    font-size: 10vw  ;
    font-weight: 700;
    color: #EFEAE3;
}
.sec{
    z-index: 2;
    padding: 4vw 7vw;
    color: #EFEAE3;
}
.sec p{
    z-index: 2;
     font-size: 4vw;
     margin-bottom: 5vw;
}
.sec input{
    z-index: 2;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(117, 117, 117) ;
    /* padding-block: 0.5vw; */
    margin-bottom: 5vw;
    padding-right: 0vw;
    text-align: left;
    font-size: 4vw;
    font-weight: 300;
}
.dab{
    position: absolute;
    top: -20%;
    left: -10%;
    height: 85vw;
    width: 120vw;
    filter: blur(30px);
    transform: rotate(0deg);
    background-color: #FE340C;
    animation-name: rott;
    transition: all linear 0.3s;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes rott {
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(10deg);
    }
}
.bad{
    position: absolute;
    display: none;
    top: 14%;
    right: 0;
    height: 55vw;
    width: 90vw;
    filter: blur(0px);
    transform: rotate(0deg) ;
    background-color: blue;
    animation-name: mott;
    transition: all linear 0.3s;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes mot {
  from{
      transform: rotate(-50deg)
  }
  to{
        transform: rotate(-60deg) ;
    }
}
.sec input::placeholder{
    color: rgb(210, 210, 210);
}
.fut{
    /* position: static; */
    height: 50px;
    width: 97%;
    color: #EFEAE3;
    /* bottom: 0; */
    border-top: 1px solid rgb(137, 137, 137);
    display: none;
    justify-content: space-between;
    align-items: center;
}
.fut h4{
    font-size: 1vw;
    font-weight: 300;
}
.fat{
    padding: 10px;
    height: 30px;
    width: 97%;
    color: #EFEAE3;
    border-top: 1px solid rgb(137, 137, 137);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fat p{
    color: white;
    font-size: xx-small;
}
}
